/* setting the nav bar stuck to the top and in blue color with the right text. */

nav {
  font-family: 'Bungee', sans-serif;
  width: 100%;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: fixed;
  top: 0;
}
nav a {
  display: flex;
  flex-direction: column;
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  text-decoration:none;
}
nav span {
  font-family: 'Bungee', sans-serif;
  margin: 1.5em;
  margin-bottom: 1%;
}
nav a span {
  font-family: 'Source Sans Pro', sans-serif;
}
a .fa-angle-double-down{
  color: red;
  display: flex;
  justify-content: center;
}